Repository aidankmcalister/locallytics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.js, prettier --write

header
  web/app/components/Header.tsx
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/public/github.svg
Due: eslint --fix --config eslint.config.js, prettier --write

fumadocs basic addition
  web/.source/index.ts
  web/.source/source.config.mjs
  web/app/api/search/route.ts
  web/app/docs/[[...slug]]/page.tsx
  web/app/docs/layout.tsx
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/content/docs/index.mdx
  web/lib/layout.shared.tsx
  web/lib/source.ts
  web/mdx-components.tsx
  web/next.config.mjs
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/source.config.ts
  web/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

web removed
  web/.gitignore
  web/.source/index.ts
  web/.source/source.config.mjs
  web/README.md
  web/app/api/search/route.ts
  web/app/components/Header.tsx
  web/app/docs/[[...slug]]/page.tsx
  web/app/docs/layout.tsx
  web/app/favicon.ico
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/content/docs/index.mdx
  web/eslint.config.mjs
  web/lib/layout.shared.tsx
  web/lib/source.ts
  web/mdx-components.tsx
  web/next.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/public/file.svg
  web/public/github.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
  web/source.config.ts
  web/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

docs created
  web/.gitignore
  web/README.md
  web/app/(home)/layout.tsx
  web/app/(home)/page.tsx
  web/app/api/search/route.ts
  web/app/docs/[[...slug]]/page.tsx
  web/app/docs/layout.tsx
  web/app/global.css
  web/app/layout.tsx
  web/app/llms-full.txt/route.ts
  web/app/og/docs/[...slug]/route.tsx
  web/bun.lock
  web/content/docs/index.mdx
  web/content/docs/test.mdx
  web/lib/layout.shared.tsx
  web/lib/source.ts
  web/mdx-components.tsx
  web/next.config.mjs
  web/package.json
  web/postcss.config.mjs
  web/source.config.ts
  web/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

vercel analytics added
  web/app/layout.tsx
  web/bun.lock
  web/package.json
Due: eslint --fix --config eslint.config.js, prettier --write

logo
  web/lib/layout.shared.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

logo added
  web/app/favicon.ico
  web/app/layout.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

metadata error fixed
  web/app/layout.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

minor updates
  web/app/(home)/page.tsx
  web/app/layout.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

basic code snippet
  web/components/CodeSnippet.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

code snippet updates
  web/app/(home)/page.tsx
  web/app/global.css
  web/components/CodeSnippet.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

header items added
  web/lib/layout.shared.tsx
  web/public/github.svg
  web/public/npm.svg
  web/public/x.svg
Due: eslint --fix --config eslint.config.js, prettier --write

readme fix
  README.md
Due: prettier --write

basic docs
  web/content/docs/api-reference.mdx
  web/content/docs/index.mdx
  web/content/docs/quick-start.mdx
  web/content/docs/test.mdx
  web/mdx-components.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

docs style updates
  web/app/docs/[[...slug]]/page.tsx
  web/app/docs/layout.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

minor udpates
  web/content/docs/api-reference.mdx
  web/content/docs/quick-start.mdx
Due: none

ui update
  web/app/(home)/page.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

value change
  web/app/(home)/page.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

update workflow
  .github/workflows/release.yml
Due: none

gh token added
  .github/workflows/release.yml
Due: none

release update
  .github/workflows/release.yml
Due: none

test
  .github/workflows/release.yml
Due: none

workflow rewrite
  .github/workflows/release.yml
Due: none

update
  .github/workflows/release.yml
Due: none

yep
  .github/workflows/release.yml
Due: none

lockfile update
  package-lock.json
Due: prettier --write

version bump
  packages/cli/package.json
  packages/locallytics/package.json
Due: prettier --write

update name
  packages/locallytics/package.json
Due: prettier --write

fix: resolve login issue
  .github/workflows/release.yml
Due: none

funcing section added
  .github/FUNDING.yml
Due: none

cli integrated into base package
  package-lock.json
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/pnpm-lock.yaml
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  packages/locallytics/package.json
  packages/locallytics/src/cli.ts
  packages/locallytics/src/cli/commands/generate.ts
  packages/locallytics/src/cli/commands/migrate.ts
  packages/locallytics/src/cli/config/schema.ts
  packages/locallytics/src/cli/generators/base.ts
  packages/locallytics/src/cli/generators/sql-generator.ts
  packages/locallytics/src/cli/index.ts
  packages/locallytics/src/cli/utils/db-utils.ts
  packages/locallytics/src/cli/utils/file-utils.ts
  packages/locallytics/tsup.config.ts
Due: eslint --fix --config eslint.config.js, prettier --write

release workflow updated - wont trigger since package is down
  .github/workflows/release.yml
Due: none

version update back to 0.0.1
  packages/locallytics/package.json
Due: prettier --write

vitest added
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --config eslint.config.js: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
