Repository aidankmcalister/locallytics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.js, prettier --write

minor changes
  src/client/AnalyticsGrabber.tsx
  src/index.ts
  src/server/createLocallyticsHandler.ts
  src/ui/AnalyticsDisplay.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

minor updates
  src/server/adapters/memory.ts
  src/types.ts
Due: eslint --fix --config eslint.config.js, prettier --write

import locallytics
  src/index.ts
  src/server/locallytics.ts
Due: eslint --fix --config eslint.config.js, prettier --write

install kysely
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

database setup
  package-lock.json
  package.json
  schema-sqlite.sql
  schema.sql
  src/index.ts
  src/server/adapters/kysely.ts
  src/server/db-types.ts
  src/server/locallytics.ts
  tsup.config.ts
Due: eslint --fix --config eslint.config.js, prettier --write

kysely syntax update
  src/server/adapters/kysely.ts
Due: eslint --fix --config eslint.config.js, prettier --write

simplified
  src/client/AnalyticsGrabber.tsx
  src/index.ts
  src/server/adapters/kysely.ts
  src/server/adapters/memory.ts
  src/server/createIngestHandler.ts
  src/server/createLocallyticsHandler.ts
  src/server/locallytics.ts
  src/server/validation.ts
  src/types.ts
  src/ui/AnalyticsDisplay.tsx
  src/utils/crypto.ts
Due: eslint --fix --config eslint.config.js, prettier --write

memory adapter removed
  src/index.ts
  src/server/adapters/memory.ts
Due: eslint --fix --config eslint.config.js, prettier --write

jsdoc updates
  src/client/AnalyticsGrabber.tsx
  src/server/locallytics.ts
  src/ui/AnalyticsDisplay.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

analytics json added
  src/index.ts
  src/ui/AnalyticsDisplay.tsx
  src/ui/AnalyticsJSON.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

analyticsdisplay removed
  src/index.ts
  src/ui/AnalyticsDisplay.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

file/folder moves
  schemas/postgres.sql
  schemas/sqlite.sql
  src/index.ts
  src/output/AnalyticsJSON.tsx
Due: eslint --fix --config eslint.config.js, prettier --write

readme
  README.md
Due: prettier --write

readme update
  README.md
Due: prettier --write

release yml
  .github/workflows/release.yml
Due: none

update dep
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

update
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

version bump
  package.json
Due: prettier --write

convert to monorepo
  README.md
  package.json
  packages/locallytics/.gitignore
  packages/locallytics/.prettierrc.json
  packages/locallytics/README.md
  packages/locallytics/eslint.config.js
  packages/locallytics/package-lock.json
  packages/locallytics/package.json
  packages/locallytics/schemas/postgres.sql
  packages/locallytics/schemas/sqlite.sql
  packages/locallytics/src/client/AnalyticsGrabber.tsx
  packages/locallytics/src/index.ts
  packages/locallytics/src/output/AnalyticsJSON.tsx
  packages/locallytics/src/server/adapters/kysely.ts
  packages/locallytics/src/server/createIngestHandler.ts
  packages/locallytics/src/server/createLocallyticsHandler.ts
  packages/locallytics/src/server/createMetricsHandler.ts
  packages/locallytics/src/server/db-types.ts
  packages/locallytics/src/server/locallytics.ts
  packages/locallytics/src/server/validation.ts
  packages/locallytics/src/types.ts
  packages/locallytics/tsconfig.json
  packages/locallytics/tsup.config.ts
Due: eslint --fix --config eslint.config.js, prettier --write

update release yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

readme fix
  README.md
Due: prettier --write

relase yml update
  .github/workflows/release.yml
Due: none

fumadocs added
  docs/.gitignore
  docs/README.md
  docs/app/(home)/layout.tsx
  docs/app/(home)/page.tsx
  docs/app/api/search/route.ts
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/docs/layout.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/llms-full.txt/route.ts
  docs/app/og/docs/[...slug]/route.tsx
  docs/content/docs/index.mdx
  docs/content/docs/test.mdx
  docs/lib/layout.shared.tsx
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/next.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

simple docs v1
  docs/app/(home)/page.tsx
  docs/app/docs/layout.tsx
  docs/app/layout.tsx
  docs/content/docs/advanced-usage.mdx
  docs/content/docs/api-reference.mdx
  docs/content/docs/database-schema.mdx
  docs/content/docs/index.mdx
  docs/content/docs/installation.mdx
  docs/content/docs/quick-start.mdx
  docs/content/docs/test.mdx
  docs/package.json
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

docs update
  docs/content/docs/advanced-usage.mdx
  docs/content/docs/api-reference.mdx
  docs/content/docs/database-schema.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/index.mdx
  docs/content/docs/installation.mdx
  docs/content/docs/meta.json
  docs/content/docs/quick-start.mdx
  docs/mdx-components.tsx
  packages/locallytics/README.md
Due: eslint --fix --config eslint.config.js, prettier --write

dialect added
  .gitignore
  package-lock.json
  packages/locallytics/package-lock.json
  packages/locallytics/package.json
  packages/locallytics/src/server/locallytics.ts
Due: eslint --fix --config eslint.config.js, prettier --write

cli exists
  package-lock.json
  packages/cli/.gitignore
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
Due: eslint --fix --config eslint.config.js, prettier --write

wokring
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/pnpm-lock.yaml
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/generators/base.ts
  packages/cli/src/generators/sql-generator.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/db-utils.ts
  packages/cli/src/utils/file-utils.ts
  packages/locallytics/package.json
Due: eslint --fix --config eslint.config.js, prettier --write

update
  packages/locallytics/tsup.config.ts
Due: eslint --fix --config eslint.config.js, prettier --write

readme updates
  README.md
Due: prettier --write

readme cli added
  README.md
Due: prettier --write

docs reset
  docs/.gitignore
  docs/README.md
  docs/app/(home)/layout.tsx
  docs/app/(home)/page.tsx
  docs/app/api/search/route.ts
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/docs/layout.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/llms-full.txt/route.ts
  docs/app/og/docs/[...slug]/route.tsx
  docs/content/docs/api-reference.mdx
  docs/content/docs/getting-started.mdx
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/lib/layout.shared.tsx
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/next.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

docs init
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

remove astro docs
  docs/.astro/content-assets.mjs
  docs/.astro/content-modules.mjs
  docs/.astro/content.d.ts
  docs/.astro/data-store.json
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

remove
  docs/.astro/content-assets.mjs
  docs/.astro/content-modules.mjs
  docs/.astro/content.d.ts
  docs/.astro/data-store.json
Due: eslint --fix --config eslint.config.js, prettier --write

fumadocs started
  docs/.gitignore
  docs/README.md
  docs/app/(home)/layout.tsx
  docs/app/(home)/page.tsx
  docs/app/api/search/route.ts
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/docs/layout.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/llms-full.txt/route.ts
  docs/app/og/docs/[...slug]/route.tsx
  docs/bun.lock
  docs/content/docs/index.mdx
  docs/content/docs/test.mdx
  docs/lib/layout.shared.tsx
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/next.config.mjs
  docs/package.json
  docs/postcss.config.mjs
  docs/source.config.ts
  docs/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

warning fixed
  docs/next.config.js
Due: none

nextjs app added
  docs/.gitignore
  docs/README.md
  docs/app/(home)/layout.tsx
  docs/app/(home)/page.tsx
  docs/app/api/search/route.ts
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/docs/layout.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/llms-full.txt/route.ts
  docs/app/og/docs/[...slug]/route.tsx
  docs/bun.lock
  docs/content/docs/index.mdx
  docs/content/docs/test.mdx
  docs/lib/layout.shared.tsx
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/next.config.js
  docs/next.config.mjs
  docs/package.json
  docs/postcss.config.mjs
  docs/source.config.ts
  web/.gitignore
  web/README.md
  web/app/favicon.ico
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/eslint.config.mjs
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/public/file.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
  web/tsconfig.json
Due: eslint --fix --config eslint.config.js, prettier --write

Path conditions:
  eslint --fix --config eslint.config.js: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
